version: "0.1"
name: {{ name }}
category: {{ category }}
author: {{ author }}
description: |
  {{ description | indent(width=2) }}

{% if files != '*No response*' %}
{% set filelist = files.split(',') %}
files:
  - {{ filelist | join('\n  - ') }}
{% endif %}

flags:
  - type: static
    content: {{ flag }}
    data: case_insensitive

type: dynamic
extra:
  initial: 500
  decay: 4
  function: linear
  minimum: 100

{% if image != '*No response*' %}
image: {{ image }}
protocol: {{ 'https' if category == 'web' else 'tcp' }}
{% endif %}
