name: Deploy containers to Kubernetes

on:
  push:
    branches:
      - main
    paths:
      - pwn/**
      - web/**
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: 3.x
          cache: pip

      - name: Setup ctfcli
        run: |
          pip install ctfcli==0.1.2
          ctf plugins install https://github.com/pl4nty/ctfcli-deploy-kubernetes.git
          curl -L https://github.com/kubernetes/kompose/releases/download/v1.32.0/kompose-linux-amd64 -o kompose
          chmod +x kompose
          sudo mv ./kompose /usr/local/bin/kompose
          echo "$KUBE_CONFIG" > $HOME/.kube/config

          mkdir .ctf
          cat <<EOF > .ctf/config
          [config]
          url = https://${{ vars.CTFD_DOMAIN }}
          access_token = ${{ secrets.CTFD_TOKEN }}

          [cookies]
          site_password = ${{ secrets.CTFD_SITE_PASSWORD }}

          [challenges]
          EOF
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

      - name: Setup container registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ vars.REGISTRY}}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # TODO add buildx support to ctfcli
      # https://github.com/jpribyl/action-docker-layer-caching/issues/38
      - name: Setup Docker cache
        uses: jpribyl/action-docker-layer-caching@c632825d12ec837065f49726ea27ddd40bcc7894 # v0.1.1
        with:
          key: docker-layer-cache-{hash}
          restore-keys: |
            docker-layer-cache-
            layer-docker-layer-cache-

      # ignore errors in case a challenge isn't deployable
      - name: Deploy containers
        run: |
          shopt -s extglob
          for chal in ?(pwn|web)/*/; do
            ctf challenge deploy $chal --skip-login --host "kubernetes://KUBE_HOST?registry=$REGISTRY" || true
          done
        env:
          REGISTRY: ${{ vars.REGISTRY }}

      - name: Setup GitHub container registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push container images to GitHub
        run: |-
          images=$(docker images $REGISTRY/*:latest --format "{{.Repository}}")
          for image in $images; do
            lowercase=${GITHUB_REPOSITORY_OWNER,,}
            newtag=${image//$REGISTRY/ghcr\.io\/$lowercase}:latest
            docker tag $image:latest $newtag
            docker push $newtag
          done
        env:
          REGISTRY: ${{ vars.REGISTRY }}
